.BringHardWares {
  position: relative;
}

.BringHardWares {
  bottom: 80%;
  color: rgb(255, 255, 255);

  font-size: 18px;

  transition: 0.4s;
  overflow: hidden;
}

.BringHardWares:focus {
  outline: none;
}

.BringHardWares::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(10px);
  transform: translate(-130px) skewX(-15deg);
}

.BringHardWares::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) skewX(-15deg);
}

.BringHardWares:hover {
  cursor: pointer;
}

.BringHardWares:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
