.ping2 {
  position: relative;
}

.ping2 {
  background: rgb(3, 124, 14);
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.4s;
  overflow: hidden;
}

.ping2:focus {
  outline: none;
}

.ping2::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(10px);
  transform: translate(-130px) skewX(-15deg);
}

.ping2::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) skewX(-15deg);
}

.ping2:hover {
  background: rgb(0, 200, 0);
  cursor: pointer;
}

.ping2:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
